<app-navigationBar></app-navigationBar>

<div>
<app-sidemenu class="sideMenu"></app-sidemenu>

<div>
    <div class="pagetitle">
        <h2>Data Manager</h2>
        </div>
<div class="pageContent">
    <mat-divider></mat-divider>
<div>
  <br>
  <form>
          <div>
          <h3>Upload</h3>
          <div class="form-group">
              <label for="codeinput">Data name</label>
              <input  class="form-control" name="nameOfFile" [(ngModel)]="nameOfFile" id="jobname" placeholder="The name you want for the data (with the extension)">
          </div>
          <input type="file" (change)="onFileChange($event.target.files)" #fileInput >
          <button class="btn btn-primary formFieldSend" (click)="createData()">Save!</button>
        </div>
  </form>
</div>

<br>
  <mat-divider></mat-divider>
<br>

<div>
<div>
<div>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col" class="namesColumn">File Name</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let name of fileNames">
                <td scope="row">{{ name.name }}</td>
                <td class="actionColumn">
                  <button class="btn btn-primary dangerButton actionButton" (click)="deleteData(name)"><mat-icon>delete_forever</mat-icon></button>
                  <button class="btn btn-primary actionButton" (click)="downloadData(name)"><mat-icon>cloud_download</mat-icon></button>
                  <app-sharemodal [sharingData]="name"></app-sharemodal>
                </td>
              </tr>
            </tbody>
          </table>
</div>
</div>
</div>
</div>
</div>
</div>
