.formFieldName {
  width: 80%;
  margin-right: 2%;
  float: left;
}

.formFieldSend {
  width: 18%
}

.sideMenu {
  float: left;
}

.pageContent {
  float: left;
  width: calc(100% - 170px);
  margin-right: 20px;
}
