<div class="sidemenu">
    <ul class="list-group">
      <a href="/tasksmanager"><li class="list-group-item">Tasks Management</li></a>
      <a href="/status"><li class="list-group-item">Status Management</li></a>
      <br>
      <a href="/results"><li class="list-group-item">Results Management</li></a>
      <a href="/datamanager"><li class="list-group-item">Data Management</li></a>
      <a href="/toolsmanager"><li class="list-group-item">Tools Management</li></a>
      <br>
      <a href="/groupsmanager"><li class="list-group-item">Groups Management</li></a>
      <a href="/foldersmanager"><li class="list-group-item">Folders Management</li></a>
    </ul>
</div>