<app-navigationBar></app-navigationBar>

<div class="pagetitle">
    <h2>Definition</h2>
</div>

<app-sidemenu></app-sidemenu>

<div class="container">
    <div class="custom-table">
        <form>
                <div class="custom-forms">
                <div class="form-group">
                    <label for="jobname">Job Name</label>
                    <input  class="form-control" id="jobname" placeholder="The name yout want for your job">
                </div> 
                <div class="form-group">
                    <label for="codeinput">Source Code</label>
                    <input  class="form-control" id="codeinput" placeholder="Place your code here">
                </div>
                <div class="form-group">
                    <label for="scriptinput">Running Script</label>
                    <input  class="form-control" id="scriptinput" placeholder="Place the running script here">
                </div>
                <div class="form-group">
                    <label for="datainput">Job Data</label>
                    <input class="form-control" id="datainput" placeholder="Place the data for the job here">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                </div>
        </form>
    </div>
</div>