version: '3'

services:
  neo4j: 
    image: neo4j
    hostname: neo4j
    environment:
      - NEO4J_AUTH=none
    volumes:
      - neo4j:/data

  minio:
    image: minio/minio
    command: [server, /data]
    hostname: minio
    environment:
      - MINIO_ACCESS_KEY=${MINIO_ACCESS_KEY}
      - MINIO_SECRET_KEY=${MINIO_SECRET_KEY}
    volumes:
      - minio:/data

  mongo:
    image: mongo
    hostname: mongo
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD}
      - MONGO_INITDB_DATABASE=spassDatabase

  redis:
    image: redis
    hostname: redis

  authserver:
    hostname: authserver
    build: 
      context: ./auth-server
      dockerfile: Dockerfile
    depends_on:
        - redis
        - mongo
    environment:
      - SPASS_CONNECTION_STRING=mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@mongo:27017/?ssl=false
      - SPASS_CELERY_BROKER=redis://redis
      - EXPOSED_AUTHAPI_ENDPOINT
      - FRONT_ENDPOINT

  backend:
    build:
      context: ./back-end
      dockerfile: Dockerfile
    command: ["python3", "main.py"] 
    depends_on:
      - neo4j
      - redis
      - mongo
      - minio
      - authserver
    environment:
      - GRAPHDB_CONNECTION_STRING=bolt://neo4j:7687
      - SPASS_CELERY_BROKER=redis://redis
      - SPASS_CONNECTION_STRING=mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@mongo:27017/?ssl=false
      - BLOB_MECHANISM
      - AUTHAPI_ENDPOINT=http://authserver:3000
      - MINIO_ENDPOINT=minio:9000
      - MINIO_SECRET_KEY
      - MINIO_ACCESS_KEY

  worker:
    build:
      context: ./back-end
      dockerfile: Dockerfile
    command: [celery, worker, -A, main.celery, -l, info]
    depends_on:
      - neo4j
      - redis
      - mongo
      - minio
      - authserver
    environment:
      - GRAPHDB_CONNECTION_STRING=bolt://neo4j:7687
      - SPASS_CELERY_BROKER=redis://redis
      - SPASS_CONNECTION_STRING=mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@mongo:27017/?ssl=false
      - BLOB_MECHANISM
      - AUTHAPI_ENDPOINT=http://authserver:3000
      - MINIO_ENDPOINT=minio:9000
      - MINIO_SECRET_KEY
      - MINIO_ACCESS_KEY

  frontend:
    build:
      context: ./front-end
    depends_on:
      - worker
      - backend
      - authserver


volumes:
  minio:
  neo4j: