<app-navigationBar></app-navigationBar>

<div>
  <app-sidemenu class="sideMenu"></app-sidemenu>

  <div class="pageContent">
  <div class="pagetitle">
    <h2>Tools Manager</h2>
  </div>
  <mat-divider></mat-divider>
  <div>
    <br>
    <form>
            <div>
            <h3>Upload</h3>
            <div class="form-group">
                <label for="codeinput">Tool name</label>
                <input  class="form-control" name="nameOfFile" [(ngModel)]="nameOfFile" id="jobname" placeholder="The name you want for the tool">
            </div>
            <div class="form-group">
                <label for="codeinput">Parameters to run</label>
                <input  class="form-control" name="jobParams" [(ngModel)]="jobParams" id="jobParams"
                placeholder="Put the parameters and the explanation o which parameter separeted by comma. Ex: 1:kind of job,2:number of repetitions">
            </div>
            </div>
            <input type="file" (change)="onFileChange($event.target.files)" #fileInput >
            <button class="btn btn-primary formFieldSend" (click)="createTool()">Save!</button>
    </form>
  </div>

  <br>
  <mat-divider></mat-divider>
  <br>

  <div>
  <div>
  <div>
          <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col" class="namesColumn">Tools</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let name of fileNames">
                  <td scope="row">{{ name.name }}</td>
                  <td class="actionColumn">
                    <button class="btn btn-primary dangerButton actionButton" (click)="deleteTool(name)"><mat-icon>delete_forever</mat-icon></button>
                    <button class="btn btn-primary actionButton" (click)="downloadTool(name)"><mat-icon>cloud_download</mat-icon></button>
                    <app-sharemodal [sharingData]="name"></app-sharemodal>
                  </td>
                </tr>
              </tbody>
            </table>
  </div>
  </div>
  </div>
</div>
</div>
