<app-navigationBar></app-navigationBar>

<div class="pagetitle">
<h2>Tasks Manager</h2>
</div>

<app-sidemenu></app-sidemenu>

<div class="container">
<div class="custom-table">
  <form>
          <div class="custom-forms">
          <h3>Tool</h3> 
          <div class="form-group">
              <label for="scriptinput">Tool name</label>
              <select class="form-control" [(ngModel)]="selectedToolId" name="selectedToolId" (blur)="loadParameters()"> 
                <option *ngFor="let toolName of toolNames" [value]="toolName.id" >{{ toolName.name }}</option>
              </select>
              <div class="form-group" *ngFor="let parameter of parameters">
                <label for="{{ parameter.name }}">{{ parameter.name }}</label>
                <input  class="form-control"  placeholder="{{ parameter.description }}" [(ngModel)]="selectedParameters[parameter.name]" name="{{ parameter.name }}">
              </div>
          </div>
          <h3>Data</h3>
          <select class="form-control" [(ngModel)]="selectedDataId" name="selectedDataId" >
            <option *ngFor="let dataName of dataNames" [value]="dataName.id" >{{ dataName.name }}</option>
          </select>
          </div>
          <div style="padding-top: 10px">
            <button class="btn btn-primary" (click)="submitTask()">Submit Task</button>
          </div>
  </form>
</div>
</div>

