.sidemenu {
    padding-top: 20px;
    padding-right: 1600px;
    padding-left: 10px;
}

.pagetitle {
    padding-top: 20px;
    padding-left: 10px;
}

.custom-table {
    position: absolute;
    top: 110px;
}

.custom-forms {
    width: 500%;
}

.centeredDiv {
    margin: 0 auto;
}

h2 {
  color: white;
}

.loginView {
    text-align: center;
    display: table;
    margin: 35px auto;
    padding: 35px;
    background-color:#57616b;
    border-radius: 10px;
    white-space: nowrap;
}
