<app-navigationBar></app-navigationBar>
  <div class="pagetitle">
      <h2>Status</h2>
  </div>
  
  <app-sidemenu></app-sidemenu>
  
  <div class="container">
      <div class="custom-table">
          <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let oneStatus of allStatus">
                  <td>{{ oneStatus.job_id }}</td>
                  <td>{{ oneStatus.status }}</td>
                </tr>
              </tbody>
            </table>
       </div>             
  </div>