<app-navigationBar></app-navigationBar>
  <div class="pagetitle">
      <h2>Status</h2>
  </div>
  
  <div class="sidemenu">
    <ul class="list-group">
      <a href="/tasksmanager"><li class="list-group-item">Tasks Management</li></a>
      <a href="/status"><li class="list-group-item">Status Management</li></a>
      <a href="/results"><li class="list-group-item">Results Management</li></a>
      <a href="/datamanager"><li class="list-group-item">Data Management</li></a>
      <a href="/toolsmanager"><li class="list-group-item">Tools Management</li></a>
    </ul>
    </div>
  
  <div class="container">
      <div class="custom-table">
          <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let oneStatus of allStatus">
                  <td>{{ oneStatus.job_id }}</td>
                  <td>{{ oneStatus.status }}</td>
                </tr>
              </tbody>
            </table>
       </div>             
  </div>