#!/bin/bash

# MongoDB Connection URL
export SPASS_CONNECTION_STRING=
# Celery Broker Connection URL
export SPASS_CELERY_BROKER=

# Blob mechanism to be used
# See option on Docs
export BLOB_MECHANISM=

# Minio Blob Mechanism Variables
export MINIO_ENDPOINT=
export MINIO_SECRET_KEY=
export MINIO_ACCESS_KEY=

# Azure Blob Mechanism Variables
export SPASS_DATA_BLOB_KEY=
export SPASS_AZURE_ACCOUNT_NAME=