#!/bin/bash

# MongoDB Connection URL
export MONGO_USERNAME=
export MONGO_PASSWORD=

# Minio Blob Mechanism Variables
export MINIO_SECRET_KEY=
export MINIO_ACCESS_KEY=

# Azure Blob Mechanism Variables
export SPASS_DATA_BLOB_KEY=
export SPASS_AZURE_ACCOUNT_NAME=