/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.pagetitle {
    padding-top: 20px;
    padding-left: 10px;
}

.custom-table {
    position: absolute;
    top: 150px;
    width: 80%;
    padding-left: 100px;
}

.files-table {
    width: 90%;
    padding-left: 100px;
}

.custom-forms {
    width: 100%;
}

.file-button {
    padding-top: 50px;
    padding-left: 375px;
}

.special-table {
    margin-top: 20px;
}

.actionColumn {
    width:350px;
}

.actionButton {
    border-color: transparent;
    width: 30%;
    margin: 5px;
}

.dangerButton {
    background-color: red
}